In [1]:
import findspark
findspark.init()

In [5]:
from pyspark.sql import SparkSession
import pandas as pd

In [6]:
spark = SparkSession.builder.appName("practice").getOrCreate()

In [7]:
test_df = spark.read.option("header","true").csv("test_df.csv")
test_df

DataFrame[A: string, B: string, C: string]

In [8]:
test_df.show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  7|  8|  9|
+---+---+---+

In [9]:
test_df.printSchema()

root
 |-- A: string (nullable = true)
 |-- B: string (nullable = true)
 |-- C: string (nullable = true)

In [10]:
df_pyspark = spark.read.csv("test_df.csv", header = True, inferSchema=True)
df_pyspark.show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  7|  8|  9|
+---+---+---+

In [11]:
df_pyspark.printSchema()

root
 |-- A: integer (nullable = true)
 |-- B: integer (nullable = true)
 |-- C: integer (nullable = true)

In [12]:
df_pyspark.columns, df_pyspark.head(3)

(['A', 'B', 'C'], [Row(A=1, B=2, C=3), Row(A=4, B=5, C=6), Row(A=7, B=8, C=9)])

In [13]:
type(df_pyspark.select(["A", "B"]).show())

+---+---+
|  A|  B|
+---+---+
|  1|  2|
|  4|  5|
|  7|  8|
+---+---+

NoneType

In [25]:
df_pandas = pd.read_csv("test_df.csv", header = 0)

In [31]:
df_pandas.loc[:, ["A"]]

   A
0  1
1  4
2  7

In [14]:
import findspark
findspark.init()

In [15]:
from pyspark.sql import SparkSession

In [16]:
spark_session = SparkSession.builder.appName("practice").getOrCreate()

In [17]:
test_df = spark_session.read.csv("test_df.csv", header=True, inferSchema=True)
test_df.show()

+---+---+---+
|  A|  B|  C|
+---+---+---+
|  1|  2|  3|
|  4|  5|  6|
|  7|  8|  9|
+---+---+---+

In [18]:
test_df.printSchema()

root
 |-- A: integer (nullable = true)
 |-- B: integer (nullable = true)
 |-- C: integer (nullable = true)

In [19]:
test_df.columns

['A', 'B', 'C']

In [20]:
test_df.head(3)

[Row(A=1, B=2, C=3), Row(A=4, B=5, C=6), Row(A=7, B=8, C=9)]

In [21]:
test_df.select(["A", "B"]).show()

+---+---+
|  A|  B|
+---+---+
|  1|  2|
|  4|  5|
|  7|  8|
+---+---+

In [22]:
test_df.describe().show()

+-------+---+---+---+
|summary|  A|  B|  C|
+-------+---+---+---+
|  count|  3|  3|  3|
|   mean|4.0|5.0|6.0|
| stddev|3.0|3.0|3.0|
|    min|  1|  2|  3|
|    max|  7|  8|  9|
+-------+---+---+---+

In [23]:
#Adding a column

test_df = test_df.withColumn("D", test_df["C"] + 10)

In [24]:
test_df.show()

+---+---+---+---+
|  A|  B|  C|  D|
+---+---+---+---+
|  1|  2|  3| 13|
|  4|  5|  6| 16|
|  7|  8|  9| 19|
+---+---+---+---+

In [25]:
#Dropping a column
test_df = test_df.drop("D")

In [26]:
test_df

DataFrame[A: int, B: int, C: int]